{
    "plugins": [
        "./node_modules/prettier-plugin-tailwindcss/dist/index.mjs"
    ],
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all"
}
